<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="navcontainer">
        <a class="navbar-brand text-main fw-bold fs-2" routerLink="/">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Art_Institute_of_Chicago_logo.svg/768px-Art_Institute_of_Chicago_logo.svg.png"
                width="75px"></a>
        <a class="text-main fw-medium text-decoration-none" style="font-size: 150%;" routerLink="/savedForLater"><i
                class="bi {{saveForLaterIcon}} me-2"></i>WishList</a>
    </div>

    <!-- <div style="width: 100%; display: flex; justify-content: center;">
        <hr style="margin: 0px; width: 90%;" />
    </div> -->

</nav>