<div class="main vh-100 vw-100">
    <div class="container d-flex align-items-center justify-content-center flex-column h-100">
        <h1 class="display-1"><span class="text-main fw-bold navbar-brand">404.</span></h1>
        <h1 class="display-3 text-main text-uppercase">Page Not Found</h1>
        <p>Dive deep into the realm of <span class="text-main text-uppercase">modern art</span> by exploring the arts
            of Chicago</p>
        <p><a class="btn btn-main" routerLink="/" role="button">Home &raquo;</a></p>
    </div>
</div>